<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Oxygen+Mono&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Weather App</title>
</head>
<body>
<main>
    <!-- search bar and city name -->
    <section class="container">
        <div class="row">
            <form action="#" th:action="@{/name}" class="col" id="search-form" method="get">
                <input
                        type="text"
                        id="search-input"
                        aria-describedby="searchCity"
                        placeholder="Search city..."
                        class="search-form"
                        autocomplete="off"
                        name="countrySearch"
                />
                <button type="submit">Search</button>
            </form>
            <div class="d-flex">
                <h1
                        class="col d-flex justify-content-center align-items-center city-title"
                        id="searched-city"
                        th:text="${countrySearchName}"
                >
                </h1>
                <img th:src="${current.condition.icon}" alt="icon">
            </div>
        </div>
    </section>

    <!-- temp and day info -->
    <section class="current-weather">
        <div class="container">
            <div class="row">
                <h3 class="col temp-title" id="current-temperature" th:if="${current.temp_c} != null"
                    th:text="${current.temp_c}+'°'">4°</h3>
                <div class="col todays-info">
                    <p id="current-time" th:text="${time}">11:00</p>
                    <h2 id="current-day">Today</h2>
                    <p id="weather-type" th:if="${current.condition.text}" th:text="${current.condition.text}">
                        Cloudy</p>
                </div>
                <div class="col d-flex align-items-center side-info">
                    <ul>
                        <li>Humidity: <span id="humidity" th:text="${current.humidity}"></span></li>
                        <li>Wind: <span id="wind" th:text="${current.wind_kph}"></span></li>
                        <li>Region: <span id="region" th:text="${details.region}"></span></li>
                        <li>Country: <span id="country" th:text="${details.country}"></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr/>
    </section>

    <!--5 day forecast-->

    <footer>
        <p>
            Designed and coded by
            <a href="" target="_blank">Manan Aggarwal</a
            ><span>✌🏼</span>
        </p>
    </footer>
</main>
<script src="index.js"></script>
</body>
</html>
